*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
Thumbs.db
yarn-error.log

# Ignore everything in storage except schemas
/storage/*
!/storage/app/
/storage/app/**/*
!/storage/app/schemas/
!/storage/app/schemas/**
